@font-face {
  font-family: 'Comic Sans';
  src: url('../assets/fonts/comicsans.ttf') format('truetype');
}
@font-face {
  font-family: 'Funky Font';
  src: url('../assets/fonts/funkyfont.otf') format('opentype');
}
@font-face {
  font-family: 'pophappy';
  src: url('../assets/fonts/pophappy.otf') format('opentype');
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/bg/realbg.png");
  background-size: cover;
}



.settings-container {
  background-image: url("../assets/settings/setting_bg.png");
  font-family: 'pophappy', sans-serif;
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1001px;
  height: 973px;
  padding: 40px;
  border-radius: 20px;
  display: none;
}

.settings-container img {
  margin-bottom: 24px;
}




.sizebuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-80%);
}

.sizebuttons img {
  margin: 0 43px;
}




.counterbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-80%);
}

.counterbuttons img {
  margin: 0 42px;
}

.themestitles {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-80%);
}

.themestitles img {
  margin: 0 50px;
}
#settingheader{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#sizeheader{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#small{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

#medium{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}


#large{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

#counterheader{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#off{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}


#on{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}


#timeoutheader{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#timeoutform{
  transform: translateY(-10%);
  font-family: "pophappy", sans-serif !important;
  color: #888888 !important;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(2);
}


#timeoutform:focus {
  color: #000000 !important;
  outline: none;
}

#timeoutform::-webkit-outer-spin-button,
#timeoutform::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#timeoutform {
  -moz-appearance: textfield;
}

#timeoutchoice{
  color: #FFFFFF !important;
  transform: translateY(-19%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#themeheader{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#theme1 {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

#theme1:hover {
  transform: scale3d(1.2, 1.2, 1.2) rotate(-2deg);
}



#theme2{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale3d(1, 1, 1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

#theme2:hover {
  transform: scale3d(1.2, 1.2, 1.2) rotate(2deg);
}

#themetitleocean{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#themetitlepixel{
  transform: translateX(-5%);
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#applybutton{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#applybutton:hover{
  content: url('../assets/settings/applybtnonhover.png');
}

#settings{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: scale3d(1, 1, 1) rotate(0deg);
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));


}
#settings:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}


#confirm{
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: scale3d(1, 1, 1) rotate(0deg)  translateY(-40%) scale(.5);
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));


}
#confirm:hover {
  transform: scale3d(.7, .7, .7) translateY(-60%);
}

#twitchname {
  display: inline-block;
  width: 200px;
  transform: translateY(-135%);
  font-family: "pophappy", sans-serif !important;
  color: #888888 !important;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  transform: scale3d(1, 1, 1) translateY(-150%);
  transition: transform 0.2s ease-in-out;
}

#twitchname:focus {
  color: #000000 !important;
  outline: none;
}

#twitchname:hover {
  transform: scale3d(1.1, 1.1, 1.1) translateY(-135%);
  transition: transform 0.2s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
