@font-face {
  font-family: 'Comic Sans';
  src: url('../assets/fonts/comicsans.ttf') format('truetype');
}
@font-face {
  font-family: 'Funky Font';
  src: url('../assets/fonts/funkyfont.otf') format('opentype');
}
@font-face {
  font-family: 'pophappy';
  src: url('../assets/fonts/pophappy.otf') format('opentype');
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  background-image: url("../assets/bg/homebackground.png");
  font-family: 'pophappy', sans-serif;
  opacity: 0;
  animation: fadeIn 2.4s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/bg/homebackground2.png");
  background-size: cover;
}



.header {
  display: flex;
  justify-content: center;
  align-items: auto;
  width: 100%;
  height: 50px;
  position: relative;
}

.logo {
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: scale(.75) translateX(-70%) rotateY(0deg);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: pop-out 1s forwards;
}

@keyframes pop-out {
  0% {
    transform: scale(.75) translateX(-70%) rotateY(0deg);
  }
  100% {
    transform: scale(1) translateX(-50%) rotateY(360deg);
  }
}



.signupandlogin{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 70px; /* Set a specific height for the container */
  bottom: 25%;
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logbutton {
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%) scale3d(1, 1, 1) rotate(0deg);
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logbutton:hover {
  transform: translateX(-50%) scale3d(1.2, 1.2, 1.2);
}

.signup {
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: calc(30% - 20px); /* adjust this value to the desired distance from the login button */
  transform: translateX(-50%);
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-height: 900px) {
  .logo {
    top: 2%;
    transform: scale(.60) translateX(-85%);
  }

  .signupandlogin {
    bottom: 5%;
    transform: scale(.70);
  }
}
@media (max-height: 1400px) {

  .signupandlogin {
    bottom: 30%;
  }
}


.testbutton {
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
}


.login-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 40px;
  border-radius: 40px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8) /* white outer glow */;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'pophappy', sans-serif;
  text-fill-color: #319cc5;
  flex-grow: 1;
  width: 100%;
  margin: 0;

}


.login-form label,
.login-form input {
  font-size: 50px !important; /* increase font size to 24px */
}


button[type="submit"] {
  padding: 16px 24px; /* increase padding */
  font-family: 'pophappy', sans-serif;
  font-size: 50px; /* increase font size */
}

#twitchtankname{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#password{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}


label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 40px
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-family: 'pophappy', sans-serif;
  background-color: rgba(80, 185, 214, 1);
  color: white;
  width: 30%;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid rgba(97, 204, 220, 0.8);
  box-shadow: 0 0 5px 1px rgba(97, 204, 220, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4);
  opacity: 50%;
}

button:hover {
    background-color: rgba(97, 204, 220, 0.8);
}
